<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/template}">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
<div th:replace="~{fragments/aside :: sidebar}"></div>

<main layout:fragment="content">
    <div class="container my-5">
    <h2>비활성 공연리뷰 리스트</h2>
        <table class="table table-bordered table-hover text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>작성일</th>
                    <th>리뷰 ID</th>
                    <th>사용자 ID</th>
                    <th>공연 ID</th>
                    <th>리뷰 내용</th>
                    <th>삭제 사유</th>
                    <th>삭제 날짜</th>
                </tr>
            </thead>

        <tbody>
        <tr th:each="review : ${reviews}">
            <td th:text="${#temporals.format(review.createdAt,'yy년 MM월 dd일')}"></td>
            <td th:text="${review.reviewId}"></td>
            <td th:text="${review.userId}"></td>
            <td th:text="${review.eventId}"></td>
            <td th:text="${review.contents}"></td>
            <td th:text="${review.deletedReason}"></td>
            <td th:text="${#temporals.format(review.deletedAt,'yy년 MM월 dd일')}"></td>
<!--        <td><a href="@{'/review/{reviewId}/detail.do'(reviewId=${review.reviewId})}" style="color: white;">상세보기</a></td>  -->
        </tr>
        </tbody>
    </table>
</div>
</main>
</body>
</html>