<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/template}">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div th:replace="~{fragments/aside :: sidebar}"></div>
<main layout:fragment="content">
    <div class="container my-4">
            <h2>공연리뷰 리스트</h2>

<form class="row g-3 mb-4" th:action="@{/review/filter}" method="get">
    <div class="col-md-4">
        <input type="text" id="eventId" name="eventId" class="form-control" placeholder="공연 ID">
    </div>
    <div class="col-md-4">
        <input type="text" id="userId" name="userId" class="form-control" placeholder="사용자 ID">
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-primary w-100">검색</button>
    </div>
</form>

        <table class="table table-bordered table-hover text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>리뷰 ID</th>
                    <th>사용자 ID</th>
                    <th>공연 ID</th>
                    <th>별점</th>
                    <th>리뷰 내용</th>
                    <th>작성일</th>

                </tr>
            </thead>
        <tbody>
            <tr th:each="review : ${reviews}">
                <td th:text="${review.reviewId}"></td>
                <td th:text="${review.userId}"></td>
                <td th:text="${review.eventId}"></td>
                <td th:text="${review.rate}"></td>
                <td th:text="${review.contents}"></td>
                <td th:text="${#temporals.format(review.createdAt,'yy년 MM월 dd일')}"></td>
<!--        <td><a href="@{'/review/{reviewId}/detail.do'(reviewId=${review.reviewId})}" style="color: white;">상세보기</a></td>  -->
            </tr>
        </tbody>
    </table>
</div>
</main>
</body>
</html>