<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artu.fullstack_team_project_administrator.mapper.InquiryMapper">
  <resultMap id="BaseResultMap" type="com.artu.fullstack_team_project_administrator.dto.Inquiry">
    <id column="inquiry_id" jdbcType="INTEGER" property="inquiryId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="answered_at" jdbcType="TIMESTAMP" property="answeredAt" />
    <result column="admin_reply" jdbcType="VARCHAR" property="adminReply" />
  </resultMap>
  <sql id="Base_Column_List">
    inquiry_id, user_id, category, title, content, `status`, created_at, answered_at, 
    admin_reply
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from inquiry
    where inquiry_id = #{inquiryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from inquiry
    where inquiry_id = #{inquiryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="inquiry_id" keyProperty="inquiryId" parameterType="com.artu.fullstack_team_project_administrator.dto.Inquiry" useGeneratedKeys="true">
    insert into inquiry (user_id, category, title, 
      content, `status`, created_at, 
      answered_at, admin_reply)
    values (#{userId,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{answeredAt,jdbcType=TIMESTAMP}, #{adminReply,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="inquiry_id" keyProperty="inquiryId" parameterType="com.artu.fullstack_team_project_administrator.dto.Inquiry" useGeneratedKeys="true">
    insert into inquiry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="answeredAt != null">
        answered_at,
      </if>
      <if test="adminReply != null">
        admin_reply,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="answeredAt != null">
        #{answeredAt,jdbcType=TIMESTAMP},
      </if>
      <if test="adminReply != null">
        #{adminReply,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.artu.fullstack_team_project_administrator.dto.Inquiry">
    update inquiry
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="answeredAt != null">
        answered_at = #{answeredAt,jdbcType=TIMESTAMP},
      </if>
      <if test="adminReply != null">
        admin_reply = #{adminReply,jdbcType=VARCHAR},
      </if>
    </set>
    where inquiry_id = #{inquiryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.artu.fullstack_team_project_administrator.dto.Inquiry">
    update inquiry
    set user_id = #{userId,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      answered_at = #{answeredAt,jdbcType=TIMESTAMP},
      admin_reply = #{adminReply,jdbcType=VARCHAR}
    where inquiry_id = #{inquiryId,jdbcType=INTEGER}
  </update>
</mapper>