<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.artu.fullstack_team_project_administrator.mapper.WidgetsMapper">

    <resultMap id="WidgetMap" type="com.artu.fullstack_team_project_administrator.dto.Widgets">
        <id column="widget_id" property="widgetId"/>
        <result column="widget_size" property="widgetSize"/>
        <result column="widget_theme" property="widgetTheme"/>
        <result column="widget_json" property="widgetJson"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <select id="findAllWidgets" resultMap="WidgetMap">
        SELECT *
        FROM artu.widgets
        WHERE deleted = false ORDER BY widget_id
    </select>

    <select id="readAll" resultMap="WidgetMap">
        SELECT *
        FROM artu.widgets
        WHERE widget_id = #{widgetId}
    </select>

    <select id="findByDeleted" parameterType="boolean" resultMap="WidgetMap">
        SELECT * FROM widgets WHERE deleted = #{deleted}
    </select>
    <select id="markAsDeleted" parameterType="int" resultType="java.lang.Integer">
        SELECT *
        FROM artu.widgets
        WHERE widget_id = #{widgetId}
    </select>

    <insert id="insert" parameterType="com.artu.fullstack_team_project_administrator.dto.Widgets">
        INSERT INTO widgets (widget_id, widget_size, widget_theme, widget_json, deleted)
        VALUES (#{widgetId}, #{widgetSize}, #{widgetTheme}, #{widgetJson}, false)
    </insert>

    <update id="update" parameterType="com.artu.fullstack_team_project_administrator.dto.Widgets">
        UPDATE widgets
        SET widget_size = #{widgetSize},
            widget_theme = #{widgetTheme},
            widget_json = #{widgetJson}
        WHERE widget_id = #{widgetId}
    </update>
    
    <update id="remove" parameterType="int">
        UPDATE widgets SET deleted = true WHERE widget_id = #{widgetId}
    </update>

    <update id="restore" parameterType="int">
        UPDATE widgets SET deleted = false WHERE widget_id = #{widgetId}
    </update>

</mapper>